<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@foreach (Dictionary<string, string> job in ViewBag.jobs)
{
    <table class= "job-listing">
        @foreach (KeyValuePair<string, string> item in job)
                {
            <tr>
                <td></td>@item.Value<td/>
            </tr>
            //<td><a asp-controller="List" asp-action="Jobs" asp-route-jobs="@item.Key" asp-route-value="@item.Value">@item.Value</a></td>
        }

    </table>
}